.loading {
  position: fixed;
  width: 100%;
  background-color: #ffffffcc;
  transition: all 0.5s;
  z-index: 999;
  .loading-tip {
    color: #333;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Sacramento", cursive;
  }
}
